{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="col-12 mb-5">
    <a href="{% url 'catalog:create_product' %}" class="btn btn-primary">Создать продукт</a>
</div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ object.photo|mediapath }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description }}</li>
                        <h1 class="card-title pricing-card-title">{{ object.price_for_purchase }}р</h1>
                        <h6>Версии продукта:</h6>
                        {% for version in version %}
                            <li>Номер версии - {{ version.version_number }}</li>
                            <li>Название - {{ version.version_name }}</li>
                        {% endfor %}
                        <h6>Владелец:</h6>
                            <li>{{ object.owner|default:"Без владельца" }}</li>
                    </ul>
                    <a href="{% url 'catalog:view_product' object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                    {% if user.is_authenticated and object.owner == user %}
                        <a href="{% url 'catalog:edit_product' object.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-secondary">Изменить</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-warning">Удалить</a>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}